.headerbox {
  align-items: center;
  border: 1px groove salmon;
  border-radius: 20px;
  display: flex;
  height: 70px;
  position: absolute;
  top: 0;
  width: 100%;
}

header {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.intheader {
  align-items: center;
  display: flex;
}

.searchbar {
  background-color: salmon;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-top: 20px;

  /* padding-top: 5px; */
  position: relative;
  top: 70px;
  width: 100%;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

form {
  background: salmon;
  border-radius: 20px;
  height: 100px;
  padding: 10px;
  width: 100%;
}

